section.column-height{
    height: 800px;
}

#page-header {
    height: 70px;
    width: -webkit-fill-available;
    border-bottom: 1px solid #ddddea;
}

.logo-edit{
    height: 70px;
    width: 70px;
    padding: 9px;
}

.nav-header .header-edit{
    font-weight: 500;
    padding: 10px;
    font-size: 30px;
}

#page-header .nav-header h1{
    margin-top: 8px;
    margin-bottom: 0px;
}

#page-header .nav-header .fas{
    font-size: initial;
}

#page-header .share .fas{
    margin-left: 20px;
}

.right-align{
    position: absolute;
    right: 0;
}

.share{
    float: right;
    padding: 16px;
}

.user{
    padding: 16px;
}

.share-btn-edit{
    width: 140px;
}

.user-btn-edit{
    border-radius: 25px;
}

.add-sites{
    height: 70px;
}

#sites-selection button.new-btn{
    color: black;
    background-color: #fff;
    border-color: #d2c5c5;
}

#sites-selection .dropdown-toggle::after{
    margin-left: 8.255em;
}

.btn.focus, .btn:focus{
    outline: 0;
    box-shadow: none;
}

a:hover {
    color: none;
    text-decoration: none;
}

#selection-content.content-table{
    margin: 0px 32px;
}

#selection-content table span{
    font-weight: 400;
    font-size: 13px;
}

#selection-content table tr{
    border: 1px solid #ddddea;
    height: 70px;
}

#selection-content .bg-light-blue{
    background-color: #f0f5fc;
}

.demo-edit{
    height: 70px;
    padding: 7px;
    width: 95px;
    padding-left: 0px;
}

.check-edit{
    height: 20px;
    width: 15px;
}

#option-button.show button{
    border: 1px solid #ddddea;
}

#option-button.show .dropdown-menu{
    transform: translate3d(-180px, 42px, 0px) !important;
}

.dotted-line {
    border-bottom: 4px dashed rgb(199 68 171);
}

#form-section.form-col-height{
    height: 700px;
}

#form-section.bg-form-section{
    background-color: #f0f5fc;
}

#form-section section div>span{
    font-size: 25px;
    font-weight: 500;
    color: rgb(199 68 171);
}

#form-section .col-sm-8.ml-17{
    margin-left: 17%;
}

.divider {
    height: 0;
    margin: 0.5rem;
    overflow: hidden;
    border-top: 2px solid #e9ecef;
}

.text-lg-right .btn-cancel{
    width: 150px;
    color: #007bff;
    border: 1px solid #007bff;
    background-color: #fff;
}

.text-lg-right .btn-save{
    width: 150px;
}

.form-control:focus{
    color: none;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}

textarea{
    border: 1px solid #c2bbbb;
}

textarea:focus-visible{
    outline: none;
}

input.calender-edit{
    height: 38px;
    border-radius: 4px;
    border: 1px solid #c2bbbb;
}

input.calender-edit:focus-visible{
    outline: none;
}